.ptb5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt20 {
    margin-top: 20px;
}

.login_content form input[type="submit"]{
     float: none;
}

.login_content form div a {
    margin: 0;
}

.login_content .alert-danger {
    margin-top: -10px;
    text-shadow: none;
}

.has-error input[type=text], .has-error input[type=password] {
    border-color: red !important;
}

.profile_details:nth-child(3n) {
    clear: initial;
}

.checkbox label, .radio label {
     padding-left: 0;
}

.checkbox-inline, .radio-inline {
    padding-right: 20px;
    padding-left: 0;
}

.btn {
    margin-bottom: 0;
}


.login_form_forgot h1:before, .login_form_forgot h1:after {
    width: 14%;
}

.login_form_forgot form input[type="submit"]{
     margin-left: 0;
}

.well-filter {

}

.well-filter label {
    font-weight: normal;
}

.filter_reset {
    margin: 10px;
}

.nav-md .container.body .col-md-3.left_col {
    z-index: 1000;
}

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}



@media only screen and (max-width : 1200px) {

    .table {
        font-size: 12px;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 4px;
    }

    .table .btn {
        margin-bottom: 5px;
    }

}


